# =====================================
# Node
# =====================================
node_modules/
**/node_modules/

# Package manager logs
yarn-error.log
pnpm-debug.log
npm-debug.log

# Environment variables
.env
.env.*
!.env.example

# =====================================
# Build outputs (UI + Backend)
# =====================================
dist/
build/
out/

# Next.js
**/.next/
**/out/

# NestJS
**/dist/

# Svelte / Nuxt / other
**/.nuxt/
**/.svelte-kit/

# Codegen
**/generated/
**/generated/**

# Common caching
.cache/
**/.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# Coverage
coverage/
**/coverage/
.nyc_output/

# =====================================
# Temporary files
# =====================================
tmp/
temp/
*.tmp

# =====================================
# Logs
# =====================================
logs/
*.log
*.log.*
log/
debug.log

# =====================================
# OS
# =====================================
.DS_Store
Thumbs.db

# =====================================
# IDE / Editor
# =====================================
.vscode/
**/.vscode/
.idea/
*.iml

# =====================================
# TypeScript
# =====================================
*.tsbuildinfo

# =====================================
# Docker
# =====================================
*.tar
docker-data/
